* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #ffffff;
    color: #11150d;
}


/* ================= NAVBAR ================= */

.navbar {
    height: 115px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
}

.logo {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    color: #747d5d;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 28px;
}

.calculator {
    background: #edf5df;
    color: #737d5d;
    border: 1px solid #d3ddc4;
}

.sun {
    background: #050704;
    color: white;
}

.get-started {
    height: 60px;
    padding: 0 42px;
    border: none;
    border-radius: 40px;
    background: #89966b;
    color: white;
    font-size: 17px;
    font-weight: 600;
}


/* ================= HERO ================= */

.hero {
    text-align: center;
    padding: 105px 20px 100px;
}

.phone {
    width: 450px;
    height: 790px;
    background: #10150d;
    border-radius: 75px;
    padding: 45px 35px 35px;
    margin: auto;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.18);
}

.speaker {
    width: 135px;
    height: 15px;
    background: #252b20;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 42px;
}

.balance-card {
    height: 270px;
    background: #858f66;
    border-radius: 42px;
    padding: 45px 20px;
    color: white;
}

.balance-card p {
    opacity: 0.65;
    font-size: 17px;
    margin-bottom: 25px;
}

.balance-card h1 {
    font-family: "DM Serif Display", serif;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 25px;
}

.balance-card h4 {
    font-size: 16px;
    letter-spacing: 2px;
    opacity: 0.8;
}


.recent {
    margin-top: 25px;
    background: #181e13;
    border-radius: 35px;
    padding: 28px 20px;
}

.recent h3 {
    color: #737967;
    font-size: 15px;
    margin-bottom: 25px;
}

.transaction {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 24px;
    color: white;
}

.transaction:last-child {
    margin-bottom: 0;
}

.profile {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.green {
    background: #b9c994;
}

.purple {
    background: #8974ad;
}

.light-green {
    background: #b8ca91;
}

.transaction-info {
    flex: 1;
    text-align: left;
}

.transaction-info strong {
    display: block;
    font-size: 15px;
}

.transaction-info small {
    display: block;
    color: #70766a;
    margin-top: 5px;
    font-size: 12px;
}

.transaction > span {
    font-weight: 600;
}

.negative {
    color: #a6757d;
}


.badge {
    display: inline-block;
    margin-top: 80px;
    padding: 13px 28px;
    border-radius: 30px;
    background: #edf6df;
    color: #788363;
    border: 1px solid #dce8ce;
}

.hero-title {
    margin-top: 50px;
    font-family: "DM Serif Display", serif;
    font-size: 78px;
    line-height: 0.95;
    font-weight: 400;
}

.hero-title i {
    color: #a4ad8b;
    font-weight: 400;
}


/* ================= ABOUT ================= */

.about {
    text-align: center;
    padding: 90px 7% 130px;
}

.about-text {
    max-width: 850px;
    margin: auto;
    font-size: 25px;
    line-height: 1.65;
    color: #73776e;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 55px;
}

.primary-btn,
.secondary-btn {
    width: 365px;
    height: 130px;
    border-radius: 70px;
    font-size: 25px;
    font-weight: 600;
}

.primary-btn {
    background: #89966b;
    color: white;
    border: none;
}

.secondary-btn {
    background: white;
    color: #89966b;
    border: 2px solid #cfd7c1;
}

.trusted {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #b1b5ad;
    font-size: 18px;
}

.people {
    display: flex;
}

.people span {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 3px solid white;
    background: #c0d5a4;
    margin-left: -8px;
}

.people span:nth-child(2) {
    background: #a6bb86;
}

.people span:nth-child(3) {
    background: #8fa571;
}


/* ================= WHY ================= */

.why {
    padding: 100px 5% 140px;
}

.small-title,
.team-small-title {
    color: #9da68a;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 17px;
}

.why h2 {
    font-family: "DM Serif Display", serif;
    font-size: 75px;
    font-weight: 400;
    line-height: 1;
    margin-top: 35px;
}

.why h2 i {
    color: #a6af8d;
}

.description {
    max-width: 950px;
    color: #8b8f88;
    font-size: 24px;
    line-height: 1.8;
    margin-top: 50px;
}


/* ================= FEATURE CARDS ================= */

.feature-card {
    min-height: 420px;
    border: 2px solid #e2ead8;
    border-radius: 50px;
    padding: 65px 70px;
    margin-top: 50px;
}

.feature-icon {
    width: 90px;
    height: 90px;
    background: #eff9e4;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    color: #7f8c63;
}

.feature-card h3 {
    margin-top: 60px;
    font-size: 34px;
}

.feature-card p {
    max-width: 800px;
    margin-top: 25px;
    color: #a0a39d;
    font-size: 24px;
    line-height: 1.7;
}


/* ================= TEAM ================= */

.team {
    background: #e9f8d8;
    padding: 75px 4% 130px;
}

.team h2 {
    font-family: "DM Serif Display", serif;
    font-size: 75px;
    line-height: 1;
    font-weight: 400;
    margin-top: 35px;
}

.team h2 i {
    color: #a2ad8b;
}


.team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 80px;
}

.team-card {
    min-height: 360px;
    background: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.initial {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #8a976d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Serif Display", serif;
    font-size: 28px;
}

.initial.black {
    background: #050704;
}

.team-card h3 {
    font-family: "DM Serif Display", serif;
    font-size: 28px;
    font-weight: 400;
    margin-top: 38px;
}

.team-card p {
    margin-top: 15px;
    color: #c2c5bd;
    font-size: 18px;
}

.last-card {
    grid-column: 1 / 3;
    width: 48%;
    margin: auto;
}


/* ================= FOOTER ================= */

.footer {
    background: #10150d;
    color: white;
    text-align: center;
    padding: 80px 5% 90px;
}

.footer-logo {
    font-family: "DM Serif Display", serif;
    font-size: 75px;
    color: #d9e3ca;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 110px;
    margin-top: 70px;
}

.footer-links a {
    color: #73786f;
    text-decoration: none;
    font-size: 25px;
}

.footer > p {
    color: #676d62;
    margin-top: 65px;
    font-size: 18px;
}


/* ================= MOBILE ================= */

@media (max-width: 600px) {

    .navbar {
        height: 90px;
        padding: 0 20px;
    }

    .logo {
        font-size: 36px;
    }

    .nav-buttons {
        gap: 7px;
    }

    .icon-btn {
        width: 42px;
        height: 42px;
        font-size: 19px;
    }

    .get-started {
        height: 42px;
        padding: 0 17px;
        font-size: 12px;
    }


    /* Hero */

    .hero {
        padding-top: 60px;
    }

    .phone {
        width: 330px;
        height: 590px;
        padding: 28px 24px;
        border-radius: 55px;
    }

    .speaker {
        width: 90px;
        height: 10px;
        margin-bottom: 28px;
    }

    .balance-card {
        height: 205px;
        padding: 28px 10px;
        border-radius: 30px;
    }

    .balance-card p {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .balance-card h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .balance-card h4 {
        font-size: 11px;
    }

    .recent {
        margin-top: 15px;
        padding: 18px 12px;
        border-radius: 25px;
    }

    .recent h3 {
        font-size: 12px;
        margin-bottom: 18px;
    }

    .profile {
        width: 38px;
        height: 38px;
        font-size: 14px;
    }

    .transaction {
        gap: 8px;
        margin-bottom: 15px;
    }

    .transaction-info strong {
        font-size: 11px;
    }

    .transaction-info small {
        font-size: 8px;
    }

    .transaction > span {
        font-size: 11px;
    }

    .badge {
        margin-top: 50px;
        font-size: 11px;
    }

    .hero-title {
        font-size: 49px;
    }


    /* About */

    .about {
        padding: 70px 20px 100px;
    }

    .about-text {
        font-size: 17px;
        line-height: 1.8;
    }

    .cta-buttons {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .primary-btn,
    .secondary-btn {
        width: 100%;
        height: 105px;
        font-size: 20px;
    }

    .trusted {
        font-size: 13px;
    }


    /* Why */

    .why {
        padding: 80px 20px;
    }

    .small-title,
    .team-small-title {
        font-size: 13px;
        letter-spacing: 4px;
    }

    .why h2,
    .team h2 {
        font-size: 48px;
    }

    .description {
        font-size: 17px;
        line-height: 1.8;
    }

    .feature-card {
        min-height: 330px;
        padding: 40px 30px;
        border-radius: 35px;
    }

    .feature-icon {
        width: 65px;
        height: 65px;
        font-size: 30px;
    }

    .feature-card h3 {
        font-size: 24px;
        margin-top: 40px;
    }

    .feature-card p {
        font-size: 16px;
        line-height: 1.7;
    }


    /* Team */

    .team {
        padding: 60px 20px 90px;
    }

    .team-grid {
        grid-template-columns: 1fr;
        gap: 25px;
        margin-top: 50px;
    }

    .team-card {
        min-height: 280px;
        border-radius: 30px;
    }

    .initial {
        width: 80px;
        height: 80px;
        font-size: 23px;
    }

    .team-card h3 {
        font-size: 22px;
        margin-top: 25px;
    }

    .team-card p {
        font-size: 14px;
    }

    .last-card {
        grid-column: auto;
        width: 100%;
    }


    /* Footer */

    .footer {
        padding: 60px 20px;
    }

    .footer-logo {
        font-size: 55px;
    }

    .footer-links {
        gap: 25px;
        flex-wrap: wrap;
        margin-top: 45px;
    }

    .footer-links a {
        font-size: 16px;
    }

    .footer > p {
        font-size: 13px;
        margin-top: 45px;
    }
}